.btn {
  margin-left: 16px;
  margin-bottom: 10px;
}

.wrap {
  display: flex;
  gap: 16px;
  margin-bottom: 10px;
  margin-left: 16px;
}

.wrapText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.wrapInfo {
  margin-left: 16px;
  border-bottom: 1px solid rgb(64, 60, 60);
  border-top: 1px solid rgb(64, 60, 60);
}
